{% extends '_base.html'%}


{% block title %}  
  Novedades
{% endblock title %}

{% block main %}
<section class="card-container" style="align-items: center; justify-content: center;">
  <div class="card card-1">
    <h4>Videojuegos</h4>
    <p>Los ultimos juegos que puedes descargar en el mercado</p>
    <span class="smoke"></span>
  </div>
  <div class="card card-2">
    <h4>Fortnite</h4>
    <p>Metallica llega a fortnite para quedarse y sonar en todos lados</p>
    <span class="smoke"></span>
  </div>
  <div class="card card-3">
    <h4>FC25</h4>
    <p>El último FC25 con todas sus actualizaciones y novedades</p>
    <span class="smoke"></span>
  </div>
  <div class="card card-4">
    <h4>The Last Of Us</h4>
    <p>Revelan un secreto en 'The last of Us parte I'</p>
    <span class="smoke"></span>
  </div>
</section>
{% endblock main %} 
