{% extends '_base.html' %}

{% block title %}
  Contenido
{% endblock title %}

{% block main %}
{% if post.titulo %}
<div class="post-content">
    <h2 class="post-title">{{ post.titulo }}</h2> 
    <p class="author"><strong>Autor: </strong>{{ post.autor }}</p>

    <div class="left-side">
        {% if post.imagen %}
            <img src="{{ post.imagen.url }}" alt="Imagen del post">
        {% else %}
            <p>No hay imagen disponible</p>
        {% endif %}
        <p class="publishing-date"><strong>Fecha de Publicación: </strong>{{ post.fecha_publicacion }}</p>
        {% if user.id == post.autor_id %}
            <small><a href="{% url 'modificar_post' post.pk %}">Modificar</a></small>
            <small><a href="{% url 'eliminar_post' post.pk %}">Eliminar</a></small>
        {% endif %}
    </div>
    
    <div class="right-side">
        <p class="content">{{ post.contenido }}</p>
        
        <p class="category"><strong>Categoría: </strong> {{ post.categoria }}</p>
        
    </div>
</div>
{% endif %}
{% endblock main %}
