{% extends '_base.html'%}


{% block title %}  
  Sobre Nostros
{% endblock title %}

{% block main %}
<div class="about-us">
  <h1>Sobre Nosotros</h1>
  <p class="information">En LevelUpNation, buscamos mantener actualizados a los gamers sobre sus videojuegos favoritos</p>

  <section class="mission">
      <h2>Nuestra Misión</h2>
      <p>Brindar a nuestros usuarios la mejor experiencia a través de reseñas, noticias y eventos relacionados con el mundo de los videojuegos.</p>
  </section>

  <section class="history">
      <h2>Nuestra Historia</h2>
      <p>Fundado en 2024, LevelUpNation comenzó como un pequeño blog, pero rápidamente creció hasta convertirse en un punto de referencia para gamers de todo el mundo.</p>
  </section>

  <a href="#" class="button">Conócenos mejor</a>
</div>
{% endblock main %} 
