{% extends '_base.html'%}



{% block title %}  
  Contactanos
{% endblock title %}


{% block main %}
    <div class="form-container-contact">
        <form class="form form-contact" novalidate>
            <h2 class="form-title">¡Contactanos!</h2>
            <div>
                <label>
                    <input type="text" placeholder="Nombre Usuario" name="userName" class="user-name">
                </label>
            </div>
            <div>
                <label>
                    <input type="email" placeholder="Correo Electrónico" name="userEmail" class="user-email">
                </label>
            </div>
           <div>
            <textarea id="subject" name="subject" placeholder="Mensaje:" style="height:200px" class="content-message"></textarea>
           </div>
            <input type="submit" value="Enviar formulario" class="contact-btn">
        </form>
    </div>
{% endblock main %} 
