{% extends '_base.html'%}


{% block title %}  
  Level Up Nation
{% endblock title %}

{% block main %}
      <aside class="wrapper category-list">
        <form method="POST">
          {% csrf_token %}
          <input type="hidden" name="categoria" value="ALL">
          <button class="category-list" type="Submit">Todo</button>
        </form>
        <form method="POST">
          {% csrf_token %}
          <input type="hidden" name="categoria" value="PS5">
          <button type="Submit">PlayStation</button>
        </form>
        <form method="POST">
          {% csrf_token %}
          <input type="hidden" name="categoria" value="PC">
          <button type="Submit">PC</button>
        </form>
        <form method="POST">
          {% csrf_token %}
          <input type="hidden" name="categoria" value="XBOX">
          <button type="Submit">XBox</button>
        </form>
        <form method="POST">
          {% csrf_token %}
          <input type="hidden" name="categoria" value="Nintendo">
          <button type="Submit">Nintendo</button>
        </form>

      </aside>
      <section class="card-container">
        <div class="card card-1">
          <h4>Videojuegos</h4>
          <p>Los ultimos juegos que puedes descargar en el mercado</p>
          <span class="smoke"></span>
        </div>
        <div class="card card-2">
          <h4>Fortnite</h4>
          <p>Metallica llega a fortnite para quedarse y sonar en todos lados</p>
          <span class="smoke"></span>
        </div>
        <div class="card card-3">
          <h4>FC25</h4>
          <p>El último FC25 con todas sus actualizaciones y novedades</p>
          <span class="smoke"></span>
        </div>
        <div class="card card-4">
          <h4>The Last Of Us</h4>
          <p>Revelan un secreto en 'The last of Us parte I'</p>
          <span class="smoke"></span>
        </div>
        {% if latest_posts_list %}
          {% for post in latest_posts_list %}
            <div class="card" style="background-image: url('{{ post.imagen.url }}'); background-size: cover; background-position: center; ">
              <a href="{% url 'content' %}" class="link-content {% if request.path == '/content/' %}active{% endif %}"
              style="display: block; height: 100%; width: 100%; position: absolute; top: 0; left: 0; z-index: 1;"></a>
              <img class = "image"
                src="{{post.imagen.url}}" alt="404">     
              <h4>{{post.titulo}}</h4>
              <span class="smoke"></span>
            </div>
          {% endfor %}
        {% endif %}
      </section>
{% endblock main %}
