{% extends '_base.html'%}


{% block title %}  
  Level Up Nation
{% endblock title %}

{% block main %}
      <aside class="wrapper category-list">
        <form method="POST">
          {% csrf_token %}
          <input type="hidden" name="categoria" value="ALL">
          <button class="category-list" type="Submit">Todo</button>
        </form>
        <form method="POST">
          {% csrf_token %}
          <input type="hidden" name="categoria" value="PS5">
          <button type="Submit">PlayStation</button>
        </form>
        <form method="POST">
          {% csrf_token %}
          <input type="hidden" name="categoria" value="PC">
          <button type="Submit">PC</button>
        </form>
        <form method="POST">
          {% csrf_token %}
          <input type="hidden" name="categoria" value="XBOX">
          <button type="Submit">XBox</button>
        </form>
        <form method="POST">
          {% csrf_token %}
          <input type="hidden" name="categoria" value="Nintendo">
          <button type="Submit">Nintendo</button>
        </form>
        <p>Ordenar por:</p>
        <form method="GET">
          <input type="hidden" name="filtro" value="Orden">
          <button type="Submit">Fecha</button>
        </form>
        <form method="GET">
          <input type="hidden" name="filtro" value="Alfabeto">
          <button type="Submit">Alfabeticamente</button>
        </form>
        {% if user.is_authenticated %}
          <form method="GET">
            <input type="hidden" name="filtro" value="Autor">
            <button type="Submit">Autor</button>
          </form>
        {% endif %}
        
      </aside>
      <section class="card-container">
          {% for post in latest_posts_list %}
          <a href="{% url 'content' post.slug %}">
            <div class="card" style="background-image: url('{{ post.imagen.url }}'); background-size: cover; background-position: center; ">
                <h4>{{post.titulo}}</h4>
                <span class="smoke"></span>
              </div>
            </a>
          
          {% empty %}
          <h2> Aún no hay posts en esta categoría.</h2>
          {% endfor %}
      </section>
{% endblock main %}
