.contenedor-comentarios {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    flex-direction: column;
    width: 60%;
    height: auto;
    margin-bottom: 50px;
  }
  
  .contenedor-comentarios img {
    width: 100%;
  }
  
  .area-comentar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 1.5rem;
    padding: 18px;
    background-color: #fff;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .1);
    border-radius: 12px;
    width: 100%;
  }
  
  .comentarios-usuarios {
    /* width: calc(100% - 2.5rem); */
    width: 100%;
  }
  
  .contenedor-comentarios a {
    text-decoration: none;
  }
  
  .comentar-publicacion .avatar,
  .avatar,
  .contenedor-comentarios .comentario-principal-usuario .avatar,
  .area-comentar .avatar {
    display: flex;
    width: 65px;
    height: 65px;
    background-color: #F4F4F4;
    border-radius: 50%;
    overflow: hidden;
  }
  .comentarios-usuarios .nombre-usuario {
    font-weight: bold;
    margin-right: .5rem;
    color: inherit;
  }
  
  .contenedor-comentarios .comentario-principal-usuario .comentario,
  .area-comentar .inputs-comentarios {
    flex-grow: 1;
    flex-basis: 0;
    margin-left: .5rem;
  }
  
  .area-comentar .inputs-comentarios {
    margin-left: 1rem;
  }
  
  .contenedor-comentarios .comentario-principal-usuario .texto,
  .area-comentar .inputs-comentarios .area-comentario {
    border: 0;
    background-color: #F0F0F0;
    display: block;
    width: 100%;
    border-radius: 12px;
    margin-bottom: .5rem;
  }
  
  .botones-comentario span.tiempo-comentario {
    font-size: 0.8rem !important;
    color: #9F9F9F;
    margin-left: .25rem;
  }
  
  .area-comentar .inputs-comentarios .area-comentario {
    padding: 12px 15px;
  }
  
  .area-comentar .inputs-comentarios .botones-comentar {
    display: flex;
  }
  
  /* comentarios de usuario */
  .comentarios-usuarios .comentario-principal-usuario {
    display: flex;
    flex-wrap: wrap;
  }
  
  .comentarios-usuarios .usuario-comentario {
    width: 100%;
    display: block;
    margin-bottom: 0.75rem;
    position: relative;
  }
  
  .menu-comentario {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #E9E9E9;
    border-radius: 50%;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .comentarios-usuarios .usuario-comentario .menu-comentario {
    top: 5px;
    right: -15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .4);
  }
  
  .comentarios-usuarios .usuario-comentario:hover .menu-comentario {
    display: flex;
  }
  
  .menu-comentario {
    display: flex;
    right: 0;
  }
  
  .menu-comentario .menu {
    list-style: none;
    position: absolute;
    right: 100%;
    background-color: #fff;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, .2);
    border-radius: 8px;
    padding-top: 7px;
    padding-bottom: 7px;
    opacity: 0;
    visibility: hidden;
    transition: all ease-in 200ms;
  }
  
  .menu-comentario:hover .menu {
    opacity: 1;
    visibility: visible;
  }
  
  .menu-comentario .menu a {
    display: block;
    padding: 7px 15px;
    color: inherit;
  }
  
  .menu-comentario .menu a:hover {
    background-color: #E1E1E1;
  }
  
  .avatar .comentarios-usuarios,
  .comentario-principal-usuario .avatar {
    width: 45px;
    height: 45px;
  }
  
  .comentarios-usuarios .comentario-principal-usuario .texto {
    padding: 10px 15px;
    /* width: auto; */
    display: inline-block;
    max-width: 100%;
    margin-bottom: .25rem;
    font-size: 0.9rem;
    position: relative;
    padding-right: 1.65rem;
  }
  
  .comentarios-usuarios .comentario-principal-usuario .comentar-comentario {
    width: 100%;
    display: flex;
  }
  
  .comentarios-usuarios .comentar-publicacion input[type="text"] {
    border: 0;
    background-color: #E1E1E1;
    flex-grow: 1;
    flex-basis: 0;
    padding: 8px 10px;
    font-size: .9rem;
    border-radius: 8px;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }
  
  .botones-comentario {
    display: block;
  }
  
  .botones-comentario button {
    display: inline-block;
    border: 0;
    padding: 3px 8px;
    font-size: .8rem;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .botones-comentario button:hover {
    background-color: #D5D8E1;
  }
  
  .comentar-publicacion .avatar,
  .contenedor-sub-comentarios .comentario-principal-usuario .avatar {
    width: 32px;
    height: 32px;
  }
  
  .boton-enviar i,
  .boton-file i,
  .boton-puntuar i,
  .boton-responder i {
    margin-right: .2rem;
  }
  
  .comentar-publicacion {
    display: flex;
    width: 100%;
  }
  
  .comentar-publicacion .comentar-comentario {
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    align-items: center;
  }
  
  .comentario form a {
    color: white;
    padding-left: 30px;
  }
  
  .comentario>p {
    color: white;
    font-size: 18px;
  }
  
  .botones-comentar a {
    padding-left: 30px;
  }
  
  .contenedor-comentarios>p {
    color: white;
    font-size: 18px;
    padding-bottom: 10px;
  }
  
  .nav-item {
    display: flex; 
    justify-content: center; 
    align-items: center;
  }
  
  
  .user-info {
    display: flex; 
    align-items: center;
    gap: 10px;
  }

.btn-confirm {
    background-color: red;
    color: white;
    height: 30px;
    width: 85px;
    margin-top: 15px;
    cursor: pointer;
}

.btn-confirm:hover {
    background-color: rgba(255, 0, 0, 0.881);
}

.go-back {
    background-color: #008f8a;
    color: white;
    padding: 6px 20px;
    margin: 0 auto;
    margin-left: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

.go-back:hover {
    background-color: #008f8aaf;
}

.boton-enviar {
    background-color: #008f8a;
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}

.boton-enviar:hover {
    background-color: lightseagreen;
}



@media (max-width: 768px) {
  .area-comentar {
    width: 350px;
    height: 150px;
  }

  #id_contenido {
    width: 200px;
    margin-top: 20px;
  }

  .comentario-principal-usuario {
    width: 300px;
  }

  .nombre-usuario {
    text-decoration: none;
    color: black;
    margin-left: 10px;
  }

  p {
    margin-left: 10px;
    padding: 0px;
  }

  .btn-confirm {
    margin-left: 10px;
  }
}