* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  min-height: 100vh;
  background-image: url(../img/background.webp);
  color: black;
  font-family: "Montserrat", sans-serif;
  transition: opacity 0.5s ease;
}

body::-webkit-scrollbar {
  width: 7px;
}

body::-webkit-scrollbar {
  background-color: grey;
}

body.fade-out {
  opacity: 0;
}

header {
  background-color: #333;
  color: white;
  padding: 15px 0;
  align-items: center;
  width: 100%;
  align-items: flex-end;
}

.container-information {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 70%;
  margin-left: auto;
  margin-right: 50px;
}


h2 {
  font: 1.5rem;
  font-weight: 700;
  margin-right: 30px;
  color: #fff;
}

.hamburger-menu {
  display: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: white;
}

.close-menu {
  display: none;
}


.navbar li {
  list-style: none;
  display: inline-block;
  margin-left: 20px;
}

.navbar li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.navbar-link {
  margin: 20px;
}

.register-link {
  background-color: #008f8a;
  padding: 10px;
  border-radius: 10px;
}

.register-link:hover {
  background-color: #00b5ad;
}

.icon-logo ion-icon {
  margin-top: 10px;
  color: red;
  font-size: 24px;
}

.btn-logo,
.btn-sign-up,
.btn-sign-in {
  background-color: #00b5ad;
  text-decoration: none;
  border: none;
  color: white;
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 20px;
  margin: 0 auto;
}

.btn-sign-up:hover,
.btn-sign-in:hover {
  background-color: #008f8a;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  width: 100px;
  margin-left: auto;
  padding: 0;
}

.search-input {
  padding: 10px;
  border-radius: 5px 0 0 5px;
  border: 1px solid #444;
  background-color: #2e2e2e;
  color: white;
  outline: none;
}

.search-input::placeholder {
  color: #888;
}

.search-button {
  padding: 10px 10px;
  margin-right: 20px;
  border-radius: 0 5px 5px 0;
  border: 1px solid #444;
  background-color: #444;
  color: white;
  cursor: pointer;
  margin-right: 180px;
}

.search-button:hover {
  background-color: #555;
}

.icon-logo ion-icon {
  color: white;
  font-size: 24px;
  margin-right: 10px;
  margin-left: 150px;
}

.link-post {
  background-color: #008f8a;
  text-decoration: none;
  border: none;
  color: white;
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 20px;
  margin: 0 auto;
}

.add-post {
  color: white;
}

.link-post:hover {
  background-color: #00b5ad;
}



/* MAIN */
main {
  margin: 0 auto;
  padding: 15px;
  width: 85vw;
  display: flex;
  min-height: 80vh;
  flex: 1;
}

.wrapper {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  color: #fff;
  gap: 3px;
  width: 30%;
}


.category-list button{
  color: #fff;
  width: 100%;
  max-width: 300px;
  display: inline-block;
  display: inline;
  width: 40%;
  padding: 8px 1px;
  margin-top: 10px;
  border: 1px solid rgb(28, 71, 69);
  border-radius: 15%;
  font-weight: 400;
  text-decoration: none;
  background-color: rgb(20, 77, 74);
  &:hover {
    background-color: rgb(48, 141, 136);
  }
}

.title {
  font-size: small;
  width: 400px;
}


.card {
  position: relative;
  width: 200px;
  height: 300px;
  max-height: 300px;
  background-size: cover;
  border-radius: 5px;
  color: whitesmoke;
  flex-direction: column;
  display: flex;
  justify-content: flex-end;
  transition: transform .2s;
  cursor: pointer;
  h4, p {
    z-index: 2;
  }
}


.card:hover {
  transform: scale(1.1);
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-inline: auto;
  margin-top: 20px;
  gap: 30px;
}

.card-container a {
  text-decoration: none;
}

img {
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.smoke { 
  position: absolute;
  background-image: linear-gradient(
    to top,
    rgba(10, 6, 6, 0.76) 10%,
    transparent 50%
  );
  height: 100%;
  width: 100%;
  border-radius: 5px;
}
 

footer {
  text-align: center;
  background-color: #000000a5;
  width: 100%;
  margin-top: 10px;
}

.social-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px; 
}

.line {
  border: 1px solid black;
  width: 100%;
  margin: 10px auto;
}

.copyright p {
  display: block;
  margin-top: 75px;
  text-align: center;
  color: #ffffff;
  padding: 20px;
}

.social-container a ion-icon {
  margin-top: 55px;
  color: black;
  size: 50px;
  width: 25px;
  height: 25px;
}



/* Comentarios */



.username {
  margin-right: 40px;
}

.btn-logout {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #008f8a;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: 700;
  margin-right: 40px;
}

.btn-logout:hover{
  background-color: #00b5ad;
}

.create-post:hover {
  background-color: #008f8ab6;
}


.create-post {
  padding: 10px 20px;
  border-radius: 10px;
  margin-left: 50px;
  background-color: #008f8a93;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: 700;
}

@media (max-width: 768px) {
  .hamburger-menu {
    display: block;
    font-size: 2rem;
    cursor: pointer;
    z-index: 2; 
    margin-right: 90px;
  }

  .navbar {
    display: none;
    position: fixed; 
    top: 0;
    left: 0; 
    width: 100vw;
    height: 450px;
    background-color: #333;
    z-index: 9999;
  }

  .username{
    margin-left: 0;
    margin-right: 10px;
    padding: 10px 0;
  }

  .navbar.active {
    display: flex;
  }

  .navbar ul {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .navbar li {
    display: block;
    width: 95%;
    max-width: 800px;
    text-align: center;
    padding: 15px 0;
    border-bottom: 1px solid #444;
  }

  .navbar-link, .btn-sign-up, .btn-sign-in{
    display: block;
    width: 100%;
    max-width: 100vw;
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 10px 20px;
  }

  .close-menu {
    display: block;
    width: 100px;
    text-align: center;
    padding: 15px 0;
    color: white;
    text-decoration: none;
    border: none;
    background-color: #008f8a;
    border-radius: 10px;
    justify-content: center;
    margin-left: 270px;
  }

  .close-menu:hover {
    background-color: #00b5ad;
  }

  .navbar-link:hover,
  .btn-sign-up:hover,
  .btn-sign-in:hover {
    background-color: #444444;
  }

  .user-info {
    margin-left: 250px;
  }

  .link-post {
    margin-left: 50px;
  }

  .card {
    height: 250px;
    width: 135px;
  }

  h4 {
    font-size: 13px;
  }

  .category-list {
    width: 320px;
  }

}
