* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  min-height: 100vh;
  background-image: url(../img/background.webp);
  color: black;
  font-family: "Montserrat", sans-serif;
  transition: opacity 0.5s ease;
}

body::-webkit-scrollbar {
  width: 7px;
}

body::-webkit-scrollbar {
  background-color: grey;
}

body.fade-out {
  opacity: 0;
}

header {
  background-color: #333;
  color: white;
  padding: 15px 0;
  align-items: center;
  width: 100%;
  align-items: flex-end;
}

.container-information {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}


h2 {
  font: 1.5rem;
  font-weight: 700;
  margin-right: 30px;
  color: #fff;
}

.navbar li {
  list-style: none;
  display: inline-block;
  margin-left: 20px;
}

.navbar li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.register-link {
  background-color: #008f8a;
  padding: 10px;
  border-radius: 10px;
}

.register-link:hover {
  background-color: #00b5ad;
}

.icon-logo ion-icon {
  margin-top: 10px;
  color: red;
  font-size: 24px;
}

.btn-logo,
.btn-sign-up,
.btn-sign-in {
  background-color: #00b5ad;
  text-decoration: none;
  border: none;
  color: white;
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 20px;
  margin: 0 auto;
}

.btn-sign-up:hover,
.btn-sign-in:hover {
  background-color: #008f8a;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  width: 100px;
  margin-left: auto;
  padding: 0;
}

.search-input {
  padding: 10px;
  border-radius: 5px 0 0 5px;
  border: 1px solid #444;
  background-color: #2e2e2e;
  color: white;
  outline: none;
}

.search-input::placeholder {
  color: #888;
}

.search-button {
  padding: 10px 10px;
  margin-right: 20px;
  border-radius: 0 5px 5px 0;
  border: 1px solid #444;
  background-color: #444;
  color: white;
  cursor: pointer;
  margin-right: 180px;
}

.search-button:hover {
  background-color: #555;
}

.icon-logo ion-icon {
  color: white;
  font-size: 24px;
  margin-right: 10px;
  margin-left: 150px;
}

.link-post {
  background-color: #008f8a;
  text-decoration: none;
  border: none;
  color: white;
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 20px;
  margin: 0 auto;
}

.add-post {
  color: white;
}

.link-post:hover {
  background-color: #00b5ad;
}



/* MAIN */
main {
  margin: 0 auto;
  padding: 15px;
  width: 85vw;
  display: flex;
  min-height: 80vh;
  flex: 1;
}

.wrapper {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  color: #fff;
  gap: 3px;
  width: 30%;
}


.category-list button{
  color: #fff;
  display: inline;
  width: 40%;
  padding: 8px 1px;
  margin-top: 10px;
  border: 1px solid rgb(28, 71, 69);
  border-radius: 15%;
  font-weight: 400;
  text-decoration: none;
  background-color: rgb(20, 77, 74);
  &:hover {
    background-color: rgb(48, 141, 136);
  }
}

.title {
  font-size: small;
  width: 400px;
}


.card {
  position: relative;
  width: 200px;
  height: 300px;
  max-height: 300px;
  background-size: cover;
  border-radius: 5px;
  color: whitesmoke;
  flex-direction: column;
  display: flex;
  justify-content: flex-end;
  transition: transform .2s;
  cursor: pointer;
  h4, p {
    z-index: 2;
  }
}


.card:hover {
  transform: scale(1.1);
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-inline: auto;
  margin-top: 20px;
  gap: 30px;
}

.card-container a {
  text-decoration: none;
}

img {
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.smoke { 
  position: absolute;
  background-image: linear-gradient(
    to top,
    rgba(10, 6, 6, 0.76) 10%,
    transparent 50%
  );
  height: 100%;
  width: 100%;
  border-radius: 5px;
}
 

footer {
  text-align: center;
  background-color: #000000a5;
  width: 100%;
  margin-top: 10px;
}

.social-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px; 
}

.line {
  border: 1px solid black;
  width: 100%;
  margin: 10px auto;
}

.copyright p {
  display: block;
  margin-top: 75px;
  text-align: center;
  color: #ffffff;
  padding: 20px;
}

.social-container a ion-icon {
  margin-top: 55px;
  color: black;
  size: 50px;
  width: 25px;
  height: 25px;
}



/* Comentarios */

.contenedor-comentarios {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  flex-direction: column;
  width: 60%;
  height: auto;
  margin-bottom: 50px;
}

.contenedor-comentarios img {
  width: 100%;
}

.area-comentar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 1.5rem;
  padding: 18px;
  background-color: #fff;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, .1);
  border-radius: 12px;
}

.comentarios-usuarios {
  /* width: calc(100% - 2.5rem); */
  width: 100%;
}

.contenedor-comentarios a {
  text-decoration: none;
}

.comentar-publicacion .avatar,
.avatar,
.contenedor-comentarios .comentario-principal-usuario .avatar,
.area-comentar .avatar {
  display: flex;
  width: 65px;
  height: 65px;
  background-color: #F4F4F4;
  border-radius: 50%;
  overflow: hidden;
}
.comentarios-usuarios .nombre-usuario {
  font-weight: bold;
  margin-right: .5rem;
  color: inherit;
}

.contenedor-comentarios .comentario-principal-usuario .comentario,
.area-comentar .inputs-comentarios {
  flex-grow: 1;
  flex-basis: 0;
  margin-left: .5rem;
}

.area-comentar .inputs-comentarios {
  margin-left: 1rem;
}

.contenedor-comentarios .comentario-principal-usuario .texto,
.area-comentar .inputs-comentarios .area-comentario {
  border: 0;
  background-color: #F0F0F0;
  display: block;
  width: 100%;
  border-radius: 12px;
  margin-bottom: .5rem;
}

.botones-comentario span.tiempo-comentario {
  font-size: 0.8rem !important;
  color: #9F9F9F;
  margin-left: .25rem;
}

.area-comentar .inputs-comentarios .area-comentario {
  padding: 12px 15px;
}

.area-comentar .inputs-comentarios .botones-comentar {
  display: flex;
}

/* comentarios de usuario */
.comentarios-usuarios .comentario-principal-usuario {
  display: flex;
  flex-wrap: wrap;
}

.comentarios-usuarios .usuario-comentario {
  width: 100%;
  display: block;
  margin-bottom: 0.75rem;
  position: relative;
}

.menu-comentario {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #E9E9E9;
  border-radius: 50%;
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.comentarios-usuarios .usuario-comentario .menu-comentario {
  top: 5px;
  right: -15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .4);
}

.comentarios-usuarios .usuario-comentario:hover .menu-comentario {
  display: flex;
}

.menu-comentario {
  display: flex;
  right: 0;
}

.menu-comentario .menu {
  list-style: none;
  position: absolute;
  right: 100%;
  background-color: #fff;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, .2);
  border-radius: 8px;
  padding-top: 7px;
  padding-bottom: 7px;
  opacity: 0;
  visibility: hidden;
  transition: all ease-in 200ms;
}

.menu-comentario:hover .menu {
  opacity: 1;
  visibility: visible;
}

.menu-comentario .menu a {
  display: block;
  padding: 7px 15px;
  color: inherit;
}

.menu-comentario .menu a:hover {
  background-color: #E1E1E1;
}

.avatar .comentarios-usuarios,
.comentario-principal-usuario .avatar {
  width: 45px;
  height: 45px;
}

.comentarios-usuarios .comentario-principal-usuario .texto {
  padding: 10px 15px;
  /* width: auto; */
  display: inline-block;
  max-width: 100%;
  margin-bottom: .25rem;
  font-size: 0.9rem;
  position: relative;
  padding-right: 1.65rem;
}

.comentarios-usuarios .comentario-principal-usuario .comentar-comentario {
  width: 100%;
  display: flex;
}

.comentarios-usuarios .comentar-publicacion input[type="text"] {
  border: 0;
  background-color: #E1E1E1;
  flex-grow: 1;
  flex-basis: 0;
  padding: 8px 10px;
  font-size: .9rem;
  border-radius: 8px;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.botones-comentario {
  display: block;
}

.botones-comentario button {
  display: inline-block;
  border: 0;
  padding: 3px 8px;
  font-size: .8rem;
  border-radius: 8px;
  cursor: pointer;
}

.botones-comentario button:hover {
  background-color: #D5D8E1;
}

.comentar-publicacion .avatar,
.contenedor-sub-comentarios .comentario-principal-usuario .avatar {
  width: 32px;
  height: 32px;
}

.boton-enviar i,
.boton-file i,
.boton-puntuar i,
.boton-responder i {
  margin-right: .2rem;
}

.comentar-publicacion {
  display: flex;
  width: 100%;
}

.comentar-publicacion .comentar-comentario {
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  align-items: center;
}

.comentario form a {
  color: white;
  padding-left: 30px;
}

.comentario>p {
  color: white;
  font-size: 18px;
}

.botones-comentar a {
  padding-left: 30px;
}

.contenedor-comentarios>p {
  color: white;
  font-size: 18px;
  padding-bottom: 10px;
}

.nav-item {
  display: flex; 
  justify-content: center; 
  align-items: center;
}


.user-info {
  display: flex; 
  align-items: center;
  gap: 10px;
}

.username {
  margin-right: 5px;
}

.btn-logout {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #008f8a;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: 700;
}

.btn-logout:hover{
  background-color: #00b5ad;
}

.create-post:hover {
  background-color: #008f8ab6;
}


.create-post {
  padding: 10px 20px;
  border-radius: 10px;
  margin-left: 50px;
  background-color: #008f8a93;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: 700;
}

@media screen and (max-width:750px) {
  body {
      font-size: 15px;
  }
  .navbar {
    position: absolute;
    top: 0;
    right: 0;
  }
}

@media screen and (max-width:580px) {
  body {
      font-size: 10px;
  }
} 
