* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  background-image: url(../img/background.webp);
  color: black;
  font-family: "Montserrat", sans-serif;
  transition: opacity 0.5s ease;
}

body::-webkit-scrollbar {
  width: 7px;
}

body::-webkit-scrollbar {
  background-color: grey;
}

body.fade-out {
  opacity: 0;
}

header {
  background-color: #333;
  color: white;
  padding: 15px 0;
}

.container-information {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}

h2 {
  font: 1.5rem;
  font-weight: 700;
  margin-right: 30px;
  color: #fff;
}

.navbar li {
  list-style: none;
  display: inline-block;
  margin-left: 20px;
}

.navbar li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.register-link {
  background-color: #008f8a;
  padding: 10px;
  border-radius: 10px;
}

.register-link:hover {
  background-color: #00b5ad;
}

.icon-logo ion-icon {
  margin-top: 10px;
  color: red;
  font-size: 24px;
}

.btn-logo,
.btn-sign-up,
.btn-sign-in {
  background-color: #00b5ad;
  text-decoration: none;
  border: none;
  color: white;
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 20px;
  margin: 0 auto;
}

.btn-sign-up:hover,
.btn-sign-in:hover {
  background-color: #008f8a;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0 auto;
  width: 100px;
}

.search-input {
  padding: 10px;
  border-radius: 5px 0 0 5px;
  border: 1px solid #444;
  background-color: #2e2e2e;
  color: white;
  outline: none;
}

.search-input::placeholder {
  color: #888;
}

.search-button {
  padding: 10px 10px;
  margin-right: 20px;
  border-radius: 0 5px 5px 0;
  border: 1px solid #444;
  background-color: #444;
  color: white;
  cursor: pointer;
  margin-right: 180px;
}

.search-button:hover {
  background-color: #555;
}

.icon-logo ion-icon {
  color: white;
  font-size: 24px;
  margin-right: 10px;
  margin-left: 150px;
}

/* MAIN */
main {
  margin: 0;
  padding: 15px;
  width: 85vw;
  display: flex;
  height: auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  color: #fff;
  gap: 3px;
  width: 30%;
}


.category-list button{
  color: #fff;
  display: inline;
  width: 40%;
  padding: 8px 1px;
  margin-top: 10px;
  border: 1px solid rgb(28, 71, 69);
  border-radius: 15%;
  font-weight: 400;
  text-decoration: none;
  background-color: rgb(20, 77, 74);
  &:hover {
    background-color: rgb(48, 141, 136);
  }
}

.title {
  font-size: small;
  width: 400px;
}


.card {
  position: relative;
  width: 200px;
  height: 300px;
  max-height: 300px;
  background-size: cover;
  border-radius: 5px;
  color: whitesmoke;
  flex-direction: column;
  display: flex;
  justify-content: flex-end;
  transition: transform .2s;
  cursor: pointer;
  h4, p {
    z-index: 2;
  }
}


.card-1 {
  background-image: url("../../static/img/image.jpg");
  background-size: cover;
}

.card-2 {
  background-image: url("../../static/img/fortnite.avif");
  background-size: cover;
  background-position: center;
}

.card-3 {
  background-image: url("../../static/img/fifa.jpg");
  background-size: cover;
  background-position: center;
}

.card-4 {
  background-image: url("../../static/img/the_last_of_us.jpeg");
  background-size: cover;
  background-position: center;
}

.card:hover {
  transform: scale(1.1);
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-inline: auto;
  margin-top: 20px;
  gap: 30px;
}

img {
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.smoke { 
  position: absolute;
  background-image: linear-gradient(
    to top,
    rgba(10, 6, 6, 0.76) 10%,
    transparent 50%
  );
  height: 100%;
  width: 100%;
  border-radius: 5px;
}
 

footer {
  text-align: center;
  background-color: #000000a5;
  height: 360px;
  width: 100%;
  margin-top: 10px;
}

.social-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px; 
}

.line {
  border: 1px solid black;
  width: 100%;
  margin: 10px auto;
}

.copyright p {
  display: block;
  margin-top: 75px;
  text-align: center;
  color: #ffffff;
}

.social-container a ion-icon {
  margin-top: 55px;
  color: black;
  size: 50px;
  width: 25px;
  height: 25px;
}

.main_div {
  width: 55%;
  margin: 100px auto;
}

.feed {
  display: table;
  width: 100%;
}

.feed_avatar {
  display: table-cell;
  width: 45px;
}

.userAvatar {
  background-size: 100%;
  position: relative;
  display: block;
  margin-right: 15px;
  float: left;
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

.feed_detalles {
  display: table-cell;
  vertical-align: middle;
}

.feed_meta {
  color: #b2b2b2
}

.btn_comentar {
  outline: none;
  border: none;
  padding: 10px;
  color: #fff;
  background: #333;

  border-radius: 5px;
  display: block;
  margin-right: 7px 0;
}

.userOnline {
  display: flex;
}

.nav-item {
  display: flex; 
  justify-content: center; 
  align-items: center;
}


.user-info {
  display: flex; 
  align-items: center;
  gap: 10px;
}

.username {
  margin-right: 5px;
}

.btn-logout {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #008f8a;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: 700;
}

.btn-logout:hover{
  background-color: #00b5ad;
}

.create-post:hover {
  background-color: #008f8ab6;
}


.create-post {
  padding: 10px 20px;
  border-radius: 10px;
  margin-left: 50px;
  background-color: #008f8a93;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: 700;
}

@media screen and (max-width:750px) {
  html {
      font-size: 15px;
  }
  .navbar {
    position: absolute;
    top: 0;
    right: 0;
  }
}

@media screen and (max-width:580px) {
  html {
      font-size: 10px;
  }
} 
