{% extends '_base.html' %}




{% block main %}
<div class="comment contenedor-comentarios">
    <div class="area-comentar">
        <div class="avatar">
            <img src="https://picsum.photos/200" alt="img">
        </div>
        <form  method="POST" class="inputs-comentarios">
            {% csrf_token %}
            {{ form_comentario.as_p }}
            <div class="botones-comentar">
                <button class="boton-enviar" type="submit">
                    <i class="fas fa-paper-plane"></i>
                    Actualizar
                </button>
                <a href="{{ request.META.HTTP_REFERER }}" class="go-back">Volver atras</a>
            </div>
        </form>
    </div>
</div>
{% endblock main %}